/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&family=Noto+Serif:ital@0;1&display=swap");
@font-face {
  font-family: Wisdom Script;
  src: url(../fonts/wisdomscriptaj.otf);
}

/* Variables */
/* Global */
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: "Noto Serif", serif;
  margin: 0;
  padding: 0;
  color: #000;
}

section {
  margin-top: 90px;
  text-align: center;
}

h3 {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 40px;
  margin: 10px 0;
}

h3 + p {
  color: #777;
  font-style: italic;
  margin: 0;
}

h4 {
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

h4 + p {
  color: #777;
  font-size: 14px;
}

/* Header */
header {
  background: url(../images/header.jpg) no-repeat;
  background-size: cover;
  height: 80vh;
  overflow: hidden;
  color: #fff;
}

header div > a {
  font-family: "Wisdom Script";
  color: #FED136;
  font-size: 26px;
  text-decoration: none;
}

header nav {
  margin: 40px 0;
}

header ul {
  margin-right: 40px;
  list-style-type: none;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1.5px;
  padding: 0;
  text-align: right;
  font-family: "Montserrat", sans-serif;
}

header ul li {
  display: inline-block;
}

header ul li a {
  text-decoration: none;
  color: #fff;
  transition: all 1s ease;
  text-transform: uppercase;
}

header ul li a:hover {
  color: #FED136;
}

header ul li + li {
  margin-left: 30px;
}

header .header--text {
  text-align: center;
  margin-top: 15vh;
}

header .header--text h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 75px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 15px;
}

header .header--text h2 {
  font-size: 40px;
  font-style: italic;
  font-weight: 300;
  margin: 0;
}

header .header--text button {
  display: inline-block;
  margin: 35px auto 0 auto;
  padding: 20px 35px;
  border-radius: 5px;
  font-size: 18px;
  border: 0;
  text-align: center;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  cursor: pointer;
  background-color: #FED136;
  color: #fff;
  transition: 0.25s;
  text-transform: uppercase;
}

header .header--text button:hover, header .header--text button:focus {
  box-shadow: 0 0.5em 0.5em -0.4em #fff;
  transform: translateY(-0.25em);
}

/* Services */
.services .row {
  margin-top: 80px;
}

.services .row .item + .item {
  padding-left: 20px;
}

.services .row .icon--container i {
  color: #FED136;
  font-size: 40px;
  border: 4px solid #FED136;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  line-height: 75px;
  text-align: center;
}

/* Portfolio */
.portfolio {
  padding: 80px 0;
  background-color: #F7F7F7;
}

.portfolio .projects {
  margin: 80px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  grid-gap: 40px;
}

.portfolio .projects .project--container {
  background-color: #fff;
  transition: 0.25s;
  cursor: pointer;
}

.portfolio .projects .project--container .project--description {
  padding: 20px 0;
}

.portfolio .projects .project--container h4 {
  margin: 0;
  margin-top: 40px;
}

.portfolio .projects .project--container p {
  margin: 0;
  font-style: italic;
}

.portfolio .projects .project--container:hover {
  box-shadow: 0 0.5em 0.5em -0.4em #777;
  transform: translateY(-0.25em);
}

.portfolio .projects img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 350px;
  opacity: 1;
  display: block;
}

/* Footer */
footer {
  padding: 30px 0;
}

footer p {
  margin-top: 25px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #777;
}

footer ul {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: start;
      justify-content: flex-start;
}

footer ul li {
  font-size: 0;
  margin-right: 15px;
  transition: 1s ease;
}

footer ul li:hover {
  transform: scale(1.2);
}

footer ul li a {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #000;
  border-radius: 50%;
  text-decoration: none;
}

footer ul li a i {
  font-size: 24px;
  color: #fff;
}

/* Responsivness */
@media (min-width: 769px) and (max-width: 990px) {
  .nav--text {
    margin-top: 5px;
    display: inline-block;
  }
  .header--text {
    margin-top: 20px !important;
  }
  .projects {
    -ms-grid-columns: (1fr)[2] !important;
        grid-template-columns: repeat(2, 1fr) !important;
    -ms-grid-rows: (1fr)[3] !important;
        grid-template-rows: repeat(3, 1fr) !important;
  }
}

@media (max-width: 768px) {
  .nav--text {
    display: block;
    text-align: center;
  }
  header {
    height: auto;
  }
  nav li + li {
    margin-left: 0 !important;
  }
  nav ul {
    text-align: center;
    margin-right: 0;
  }
  nav ul li {
    display: block;
    margin-top: 10px;
  }
  .header--text {
    margin-top: 0 !important;
    margin-bottom: 40px;
  }
  .header--text h1 {
    font-size: 24px !important;
  }
  .header--text h2 {
    font-size: 18px !important;
  }
  .projects {
    -ms-grid-columns: (1fr)[1] !important;
        grid-template-columns: repeat(1, 1fr) !important;
    -ms-grid-rows: (1fr)[6] !important;
        grid-template-rows: repeat(6, 1fr) !important;
  }
  footer {
    text-align: center;
  }
  footer ul {
    -ms-flex-pack: center;
        justify-content: center;
  }
}
/*# sourceMappingURL=style.css.map */