/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&family=Noto+Serif:ital@0;1&display=swap');
@font-face {
  font-family: Wisdom Script;
  src: url(../fonts/wisdomscriptaj.otf);
}

/* Variables */

$font-one: 'Montserrat', sans-serif;
$font-two: 'Noto Serif', serif;
$font-three: "Wisdom Script";
$color-one: #fff;
$color-two: #FED136;
$color-three: #000;
$color-four: #777;
$color-five: #F7F7F7;

/* Global */

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: $font-two;
    margin: 0;
    padding: 0;
    color: $color-three;
}

section {
  margin-top: 90px;
  text-align: center;

}

h3 {
  text-transform: uppercase;
  font-family: $font-one;
  font-weight: 600;
  font-size: 40px;
  margin: 10px 0;
}

h3 + p {
  color: $color-four;
  font-style: italic;
  margin: 0;
}

h4 {
  font-size: 18px;
  font-family: $font-one;
  font-weight: 600;
}
h4 + p {
  color: $color-four;
  font-size: 14px;
}

/* Header */

header {
  background: url(../images/header.jpg) no-repeat;
  background-size: cover;
  height: 80vh;
  overflow: hidden;
  color: $color-one;
  div > a {
    font-family: $font-three;
    color: $color-two;
    font-size: 26px;
    text-decoration: none;
  }
  nav {
    margin: 40px 0;
  }
  ul {
    margin-right: 40px;
    list-style-type: none;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1.5px;
    padding: 0;
    text-align: right;
    font-family: $font-one;
    li {
        display: inline-block;
        a {
            text-decoration: none;
            color: $color-one;
            transition: all 1s ease;
            text-transform: uppercase;
            &:hover {
                color: $color-two;
            }
        }   
      } 
    li + li {
      margin-left: 30px;
    }
  }
  .header--text {
    text-align: center;
    margin-top: 15vh;
    h1 {
      font-family: $font-one;
      font-size: 75px;
      font-weight: 600;
      text-transform: uppercase;
      margin: 15px;
    }
    h2 {
      font-size: 40px;
      font-style: italic;
      font-weight: 300;
      margin: 0;
    }
  
    button {
      display: inline-block;
      margin: 35px auto 0 auto;
      padding: 20px 35px;
      border-radius: 5px;
      font-size: 18px;
      border: 0;
      text-align: center;
      text-decoration: none;
      font-family: $font-one;
      font-weight: 600;
      cursor: pointer;
      background-color: $color-two;
      color: $color-one;
      transition: 0.25s;
      text-transform: uppercase;
        &:hover, &:focus {
          box-shadow: 0 0.5em 0.5em -0.4em $color-one;
          transform: translateY(-0.25em);
        }
    }
  }
}

/* Services */

.services {
  .row {
    margin-top: 80px;
    .item + .item{
      padding-left: 20px;
    }
    .icon--container i {
      color: $color-two;
      font-size: 40px;
      border: 4px solid $color-two;
      border-radius: 50%;
      width: 80px;
      height: 80px;
      line-height: 75px;
      text-align: center;
    }
  }
}

/* Portfolio */

.portfolio {
  padding: 80px 0;
  background-color: $color-five;
  .projects {
    margin: 80px 0;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 40px;
    .project--container {
      background-color: $color-one;
      .project--description {
        padding: 20px 0;
      }
      h4 {
        margin: 0;
        margin-top: 40px;
      }
      p {
        margin: 0;
        font-style: italic;
      }
    }
    img {
      object-fit: cover;
      width: 100%;
      height: 350px;
      opacity: 1;
      display: block;  
  }
  }
}

/* Footer */

footer {
  padding: 30px 0;
  p {
    margin-top: 25px;
    font-family: $font-one;
    font-size: 14px;
    color: $color-four;
  }
  ul {
    display: flex;
    justify-content: flex-start;
    li {
        font-size: 0;
        margin-right: 15px;
        transition: 1s ease;
        &:hover {
            transform: scale(1.2);
        }
        a { 
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            background-color: $color-three;
            border-radius: 50%;
            text-decoration: none;
            i {
                font-size: 24px;
                color: $color-one;
            }
        }
    }
  }
}